{% extends 'base/base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Confirmación</title>
    </head>
    <body>
        <div class="container">
            <h4 class="m-5" style="text-align:center;">
                Estimado(a) {{ username }}! Hemos enviado un correo electrónico,
                para que finalice el proceso de registro
            </h4>
        </div>
    </body>
</html>

{% endblock %}
