{% extends 'base/base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Login</title>
    </head>
    <body>
        <div class="container mt-5">
            <div class="container login-container">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6 login-form-1">
                        <h3 style="text-align:center;">Ingresar a GEMA</h3>
                        <form method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <input type="text" name="username" class="form-control" placeholder="Usuario" required/>
                            </div>
                            <div class="form-group">
                                <input type="password" name="password" class="form-control" placeholder="Contraseña" reuired/>
                            </div>
                            <div class="form-group" style="text-align:center;">
                                <button class="btn waves-effect waves-light" type="submit" name="action">Iniciar sesión
                                    <i class="material-icons right">send</i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
{% endblock %}
