{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css\custom.css' %}">

        </head>

    <body>
        <div class = "container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="Inicio" href="{% url '' %}" >
                    <img src="{% static 'images\Logo.png' %}"  title="logo" height="42" width="42" />
                    Inicio
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="miclase" id="navbarSupportedContent">
                    {% if user.is_authenticated %}
                        <ul>
                            <li class="">
                                <a class="" href="{% url 'crear' %}">Agregar hoja de vida<span class="sr-only">(current)</span></a>
                            </li>

                            {% if user.profile.rol.descripcion == "Administrador" %}
                            <li class="">
                                <a class="" href="{% url 'users:listar' %}">Listar usuarios <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="">
                                <a class="" href="{% url 'listcontact' %}">Listar empleados<span class="sr-only">(current)</span></a>
                            </li>
                            {% endif %}
                        </ul>

                        <form class="form-inline my-2 my-lg-0">
                            <table class="table-style">
                                <td>
                                    <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
                                </td>
                                <td>
                                    <a href="">
                                        <i class="material-icons color-icon">search</i>
                                    </a>
                                </td>
                            </table>
                        </form>

                        <div class="dropdown">
                          <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Mis opciones
                          </a>

                          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <h6 class="ml-5 light-blue-text accent-2">{{ user.username }}</h6>
                             <h6 class="ml-2">{{ user.profile.rol.descripcion }}</h6>
                            <a class="dropdown-item" href="{% url 'logout' %}" >Cerrar Sesión</a>
                          </div>
                        </div>

                    {% else %}

                        <a href="{% url 'users:signup' %}" class="btn btn-light ml-5 btn-register">Registrarse</a>
                        <a href="{% url 'login' %}" class="btn btn-info">Iniciar Sesión</a>
                    {% endif %}
                </div>
            </nav>
        </div>
        <main>
            {% block content %}
            {% endblock %}
        </main>
        <footer class="page-footer grey darken-1">
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <img src="{% static 'images\Logo.png' %}"  title="logo" height="42" width="42" />
                        <p class="grey-text text-lighten-4">Aplicativo para el control de hojas de vida desarrollado en Python - Django</p>
                    </div>
                    <div class="col l4 offset-l2 s12">
                        <h5 class="white-text">Enlaces</h5>
                        <ul>
                            <li><a class="grey-text text-lighten-3" href="{% url 'nosotros' %}">Sobre Nosotros</a></li>
                            <li><a class="grey-text text-lighten-3" target="_blank" href="https://www.uniremington.edu.co/manizales/">Uniremington Manizales</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright grey darken-1">
                <div class="container">
                    &copy; 2020 Maria José Buitrago - Evelio Atonio Hernandez
                    <a class="grey-text text-lighten-4 right">Corporación universitaria Remington</a>
                </div>
            </div>
        </footer>
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="{% static 'js\custom.js' %}"></script>
    </body>
</html>
