
.container .Inicio  {
  color: #403d3d ;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 10px;
}

h1{
    text-align: center;
    font-family: sans-serif;
    font-weight: bold !important;
    color: #274367;
    /*text-transform: lowercase; */
    margin-top: 20px !important;
}

.miclase{
  color: #403d3d ;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.miclase li{
  list-style: none;
  margin-right: 12px  ;
  transition: background .7s ;
  padding: 4px 12px;

}

div.container{
  max-width: none;
  padding: 0px;
}

.row,
.form-group{
  margin-bottom: 0px !important;
}

.container-1{
  padding-bottom: 20px;
  background: transparent url('../images/3369337.jpg') no-repeat;
  background-size: contain;
  background-position: bottom;
}

.row{
  margin-left: 0px !important;
  margin-right: 0px !important;
}

footer{
  padding: 20px;
}

.login-form-1{
  padding: 20px;
  border: 1px solid white ;
  border-style: groove;
  background: rgba(255, 255, 255, 0.788235294117647);
  margin-top: 20px;
  border-radius: 10px 10px 9px 10px;
  -moz-border-radius: 10px 10px 9px 10px;
  -webkit-border-radius: 10px 10px 9px 10px;
  border: 0px solid #000000;
}

.responsive-table,
.table,
.striped{
  padding: 20px;
  background: rgba(255, 255, 255, 0.788235294117647);
  margin-top: 20px;
}

label {
    font-size: 1rem !important;
}

.miclase li:hover{
  background: #b2ebf2;
}
.miclase li a:hover{
  background: none;
}
.miclase li a{
  color: #403d3d;
  text-decoration: none;
}

.table-employee i {
  color: #00acc1 ;
}

.pagination-employee li:nth-child(2){
  background: #00acc1 !important ;
}

.dropdown-content li,
.dropdown-content li > a,
.dropdown-content li > span{
  color: inherit !important;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.list-container-user{
    padding: 3% !important;
}

.btn-register{
    position: relative;
    left: 75%;
}

.about {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-text{
    padding: 30px;
}

nav a {
    color: #3f44ac;
}
