{% extends 'base/base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>About us</title>
    </head>
    <body>
        <div class="about">
            <div class="about-text">
                <h1 style="text-align:center;">Sobre nosotros</h1>
                <p>Somos dos estudiantes de la Corporación universitaria Remington con un mismo
                sueño y una idea de proyecto para cumplirlo. Es aquí donde nace GEMA, una aplicación
                para facilitar procesos empresariales, como es el almacenamiento y actualización
                de hojas de vida de los empleados.</p>
            </div>
            <img src="{% static 'images\about.png' %}" style="width: 50%; max-height: 60%" / >
        </div>
    </body>
</html>
{% endblock %}
