{% extends 'base/base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>About us</title>
    </head>
    <body>
        <p>Somos dos estudiantes de la Corporación universitaria Remington con un mismo
        sueño y una idea de proyecto para cumplirlo. Es aquí donde nace GEMA, una aplicación
        para facilitar procesos empresariales, como es el alamcenamiento de hojas de vida
        de los empleados.</p>
    </body>
</html>
{% endblock %}
