<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Curriculum Vitae</title>
    <!-- Import google Icons Font -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compile and minifield  CSS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  </head>
  <body>

    <div class="container">
      <div class="rows">
        <div class="col s12 m12">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">Crear/Actualizar Curriculum Vitae</span>
            </div>
          </div>
        </div>
     </div>

    <form method="post">
      {% csrf_token %}
         {{ form.as_p }}
         <div class="input-field col s12">
            <input type="submit" value="Enviar" class="blue darken-1 btn">
         </div>
    </form>
  </div>

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</html>
