<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Presupuesto</title>
    <!-- Import google Icons Font -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compile and minifield  CSS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  </head>
  <body>

    <div class="container">
      <div class="rows">
        <div class="col s12 m12">
          <div class="card red darken-1">
            <div class="card-content white-text">
              <span class="card-title">Eliminar Curriculum Vitae</span>
            </div>
          </div>
        </div>
     </div>

    <form method="post">
      {% csrf_token %}
        <p> Esta seguro de Eliminar el Curriculum Vitae ? "{{ object }}"?</p>
        <input type="submit" value="Confirmar" class="blue darken-1 btn">
    </form>

  </div>

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</html>
