{% extends 'base/base.html' %}
{% load static %}
{% block content %}
<html>
    <head>
        <meta charset="utf-8">
        <title>Ver información de empleado</title>
    </head>

    <body>
        <div class="container-1">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6 login-form-1">
                        <h1 style="text-align:center;">estoy en ver Mi hoja de vida</h1>
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}

                            {% for data in object_list %}
                                <tr>
                                    <td><strong>{{ data.nombre }}</strong> <ul>{{ data.profesion }}</ul> <ul>{{ data.id}}</ul></td>
                                    <td>{{ data.cedula }}</td>
                                    <td>{{ data.ciudad }}</td>
                                    <td>{{ data.telefono }}</td>
                                    <td>{{ data.mail }}</td>
                                    <td>{{ data.dependencia }}</td>
                                    <td>{{ data.cargo }}</td>
                                </tr>
                            {% endfor %}

                            <div class="form-group" style="text-align:center;">
                                <button class="btn waves-effect waves-light" type="submit" name="action">Guardar
                                    <i class="material-icons right">save</i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
{% endblock %}
