<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col s12 m12">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">Curriculum Vitae</span>
                <table class="striped">

                  <thead>
                    <tr>
                      <th>Nombre</th>
                      <th>Cedula</th>
                      <th>Ciudad</th>
                      <th>Telefono</th>
                      <th>E-mail</th>
                      <th>Profesion</th>
                      <th>Dependencia</th>
                      <th>Cargo</th>
                      <th>Curriculum Vitae</th>
                    </tr>
                  </thead>
                  <tbody>

                    {% for data in object_list %}
                    <tr>
                      <td>{{ data.nombre }}</td>
                      <td>{{ data.cedula }}</td>
                      <td>{{ data.ciudad }}</td>
                      <td>{{ data.telefono }}</td>
                      <td>{{ data.mail }}</td>
                      <td>{{ data.profesion }}</td>
                      <td>{{ data.dependencia }}</td>
                      <td>{{ data.cargo }}</td>
                      <td>
                        <a  href="http://localhost:8000/media/{{ data.archivo }}"> Curriculum Vitae</a>
                      </td>
                      <td>
<!--       -->
                        <a href="{% url 'editar' data.cedula %}">
                            <i class="material-icons">create</i>
                        </a>
                        <a href="{% url 'eliminar' data.cedula %}">
                            <i class="material-icons">clear</i>
                        </a>

                      </td>
                    </tr>


                    {% endfor %}

                  </tbody>
                </table>
        <!--Botón para agregar nuevo movimiento-->
        <div class="fixed-action-btn">
          <a href="{% url 'users:userapp' %}" class="btn-floating btn-large red">
            <i class="large material-icons">add</i>
          </a>
        </div>

  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</html>
