{% extends 'base/base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Listado empleados</title>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col s12 m12">
                    <div class="responsive-table" class="table table-bordered">
                        <h1 style="text-align:center;">Lista de empleados</h1>
                        <table  class="table table-hover table-employee">

                            <thead>
                                <tr>
                                    <th>Nombre completo</th>
                                    <th>Cedula</th>
                                    <th>Ciudad</th>
                                    <th>Telefono</th>
                                    <th>E-mail</th>
                                    <th>Dependencia</th>
                                    <th>Cargo</th>
                                    <th>Hoja de vida</th>
                                    <th>Editar</th>
                                    <th>Ver más</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for data in object_list %}
                                    <tr>
                                        <td><strong>{{ data.nombre }}</strong> <ul>{{ data.profesion }}</ul> <ul>{{ data.id}}</ul></td>
                                        <td>{{ data.cedula }}</td>
                                        <td>{{ data.ciudad }}</td>
                                        <td>{{ data.telefono }}</td>
                                        <td>{{ data.mail }}</td>
                                        <td>{{ data.dependencia }}</td>
                                        <td>{{ data.cargo }}</td>
                                        <td>
                                            <a  href="http://localhost:8000/media/{{ data.archivo }}">
                                                <i class="material-icons">picture_as_pdf</i>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="{% url 'editar' data.id %}">
                                                <i class="material-icons">create</i>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="{% url 'vercontacto' data.id %}">
                                                <i class="material-icons">@more_horiz</i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {% if is_paginated %}
                <ul class="pagination justify-content-center pagination-employee">
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled"><a class="page-link">&laquo;</a></li>
                   {% endif %}
                   {% for i in paginator.page_range %}
                        {% if page_obj.number == i %}
                            <li class="page-item active">
                                <a class="page-link">{{ i }}</a>
                            </li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                    {% else %}
                        <li class="page-item disabled"><a class="page-link">&raquo;</a></li>
                    {% endif %}
                </ul>
            {% endif %}
        </div>
    </body>
</html>
{% endblock %}
