{% extends 'base/base.html' %}
  {% load static %}
  {% block content %}
  <div class="container">
    <h4 class="m-5">Listado de usuarios</h4>
    <table class="table striped">
      <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Usuario</th>
        <th>Email</th>
        <th>Rol</th>
      </tr>
      {% for user in object_list %}
        <tr>
          <td>{{ user.first_name }}</td>
          <td>{{ user.last_name }}</td>
          <td>{{ user.username }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.profile.rol.descripcion }}</td>
        </tr>
      {% endfor %}
    </table>
  </div>
{% endblock %}
